/* public/styles.css */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.notas-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 280px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .group-input{
    display: flex;
    justify-content: space-between;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 10%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra añadida */
    transition: box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .nota-aprobada {
    color: blue;
  }
  
  .nota-desaprobada {
    color: red;
  }
  
  .footer-modal{
    display: flex;
    justify-content: center;
  }

  button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada en hover */
  }